/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  scroll-behavior: smooth;
  color: black;
  background-image: url(./../images/fondo2.png);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.webwrapper {
  margin: auto;
  width: 90%;
  box-shadow: 0px 5px 20px #454553;
}

/* Header */

header {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  background: rgb(17, 34, 209);
  background: linear-gradient(
    120deg,
    rgba(37, 106, 185, 0.83) 58%,
    rgba(239, 239, 241, 0.7259103470489758) 40%
  );
}
.title-wrapper {
  width: 100%;
  padding: 2.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font: bold 2.5rem Lucida;
}

.header-nav {
  width: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 33%,
    rgba(0, 212, 255, 1) 100%
  );
  padding: 0.5rem;
  box-sizing: border-box;
}

.header-nav-ul {
  display: flex;
  justify-content: space-around;
  color: white;
  box-sizing: border-box;
}

.header-nav-ul li {
  padding: 0.5rem;
}

.header-nav-ul li:hover {
  border-bottom: 1px dashed;
  cursor: pointer;
  font-weight: bolder;
}

.header-nav-ul li:last-child:hover {
  border: none;
  cursor: inherit;
}

.search {
  margin-right: 15px;
  background: rgba(255, 255, 255, 0.041);
  color: white;
  border: none;
  border-bottom: 1px solid white;
  font-size: 1rem;
}
/* Sección about */
.about-section {
  width: 100%;
  display: block;
  margin: auto;
  background: white;
}

.about-wrapper {
  font: 1.5rem bold inherit;
  line-height: 2.5rem;
  width: 70%;
  margin: auto;
  padding: 2.5rem 0rem;
}

/* Sección opciones */
.opciones-section {
  width: 100%;
  margin: auto;
  background: white;
  padding: 2rem 0rem;
}

.elige-opciones {
  font: bold 2.5rem Lucida;
  margin: 0px auto;
  width: 80%;
  color: #0f0f6b;
}

.opciones-wrapper {
  margin: 2rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.opcion {
  background-color: #eae8e1;
  border-radius: 10px;
  border: 4px double #c1c1e9d8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.opcion-title-wrapper {
  margin-bottom: 1rem;
  font-style: oblique;
  display: block;
  padding: 0px 10px;
  border-radius: 10px;
  font-size: 2rem;
  color: orange;
  border-bottom: 2px solid;
  border-image: linear-gradient(to left, transparent, #225c95, transparent) 1;
}

.opcion p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bolder;
  text-align: center;
}

.opcion-img {
  width: 250px;
  height: 100px;
}
.opciones-ul {
  list-style: square;
  margin: 0.5rem 0.2rem 0.5rem 1rem;
}
.opciones-ul li {
  margin-bottom: 8px;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

.btn {
  box-shadow: inset 0px 0px 5px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 19px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: Verdana;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 11px 24px;
  text-decoration: none;
  margin: 0.5rem auto;
  border: none;
  text-shadow: 0px 1px 0px #154682;
}
.btn:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}
.btn:active {
  position: relative;
  top: 1px;
}

/* Modals */

.modal {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  padding-top: 100px;
  
}

.modal-inner {
  padding: 1.2rem 1rem;
  border: 6px solid rgb(0, 103, 125);
  border-radius: 10px;
  margin: auto;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: relative;
  z-index: 2;
  background-position: center;
  background-size: cover;
}

.modal-inner::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: rgba(61, 61, 57, 0.527);
}

/* Modal animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.modal-header h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.modal-elementClose {
  font-size: 0.7rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.modal-elementClose:hover {
  color: black;
}

.modal-body-text {
  max-width: 400px;
  margin: auto;
  color: white;
  padding: 10px;
  line-height: 2rem;
  background: rgba(0, 102, 125, 0.568);
  border-radius: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 1.5rem;
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.651);
  font-weight: bold;
}

/* Modals particulares*/

.modal-inner1 {
  background-image: url(./../images/modal-fondo1.jpg);
}
.modal-inner2 {
  background-image: url(./../images/modal-fondo2.jpg);
}
.modal-inner3 {
  background-image: url(./../images/modal-fondo3.jpg);
}

/* Footer */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width:100%;
  background-color: rgba(0, 0, 0, 0.418);
  color: white;
  font:bolder 1rem  monospace;
  text-align: center;
  line-height: 1.7rem;
  height:1.7rem;
}